/* stylelint-disable function-calc-no-unspaced-operator */
/* stylelint-disable declaration-block-no-shorthand-property-overrides */
/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable-next-line CssSyntaxError */
/* stylelint-disable-next-line CssSyntaxError */
/* stylelint-disable-next-line function-calc-no-invalid */

body {
  background-image: url('img/Header-llustration-desktop.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav li {
  margin: 0 10px;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  color: #172b4d;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
}

.text_color {
  color: #36b37e;
  text-align: center;
  font-family: Inter;
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: -40px;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 200px;
}

.header-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  line-height: 32px;
  text-align: center;
  color: #172b4d;
  font-size: 24px;
  margin-top: 16px;
  font-weight: 600;
  width: 337px;
  margin-left: 16px;
  margin-right: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  font-size: 40px;
  margin-top: 65px;
  color: #172b4d;
}

.header-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  text-align: center;
  font-size: 24px;
  margin-top: 16px;
  font-weight: 600;
  width: 337px;
  line-height: 32px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  max-width: 500px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #172b4d;
  font-size: 40px;
  margin-top: -140px;
  margin-left: 70px;
  line-height: 52px;
  flex: none;
  order: 0;
  flex-grow: 0;
  white-space: nowrap;
}

.header-5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  font-size: 40px;
  margin-top: 700px;
}

.paragraph {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #172b4d;
  margin-top: -1em;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.paragraph-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin-top: -1em;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 19px;
  padding: 0;
}

.scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.scroll div {
  width: 40px;
  height: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 62px;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  grid-gap: 30px 25px;
  width: 1113px;
  margin: 0 auto;
}

.grid-item {
  display: grid;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  margin: 0 auto;
  width: 369px;
  height: 474px;
  border-radius: 8px;
}

.grid-item-2 {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 auto;
  width: 369px;
  height: 474px;
  border-radius: 8px;
}

.grid-item-top {
  background: #ebf0ee;
  height: 237px;
}

.grid-item-bottom {
  background: white;
  height: 237px;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px;
  margin-top: 29px;
  margin-left: 125px;
  margin-right: 102px;
  margin-bottom: 24px;
  gap: 10px;
  position: relative;
  width: 122px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  outline: none;
  border: none;
}

.btn-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px;
  margin-top: 29px;
  margin-left: 330px;
  margin-right: 102px;
  margin-bottom: 24px;
  position: relative;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  width: 153px;
  outline: none;
  border: none;
}

.btn-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px;
  margin-left: 2px;
  margin-right: 102px;
  margin-bottom: 24px;
  position: relative;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  width: 129px;
  margin-top: -30px;
  outline: none;
  border: none;
}

.text {
  height: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  margin-top: -15px;
}

.image-container li {
  margin: 0;
  padding: 0;
}

.images:hover {
  filter: none;
}

#about-id {
  position: absolute;
  top: 270%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 130px;
}

#about-id::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20em;
  margin-top: 175px;
  width: 287.84px;
  height: 150px;
  background-image: url('img/Group.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

#about-id::after {
  content: "";
  position: absolute;
  width: 269.55px;
  height: 244.78px;
  right: -15em;
  top: 310px;
  margin-top: -300px;
  background-image: url('img/Group1.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}

.grid-item-1 {
  display: grid;
  box-sizing: border-box;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  align-items: center;
  margin: 0 auto;
  width: 327px;
  height: 316px;
  margin-top: 430px;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.grid-item-1 > div {
  grid-column-gap: 10px;
}

/* .grid-item-1 {
  display: grid;
  box-sizing: border-box;
  background: #EBF0EE;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  align-items: center;
  margin: 0 auto;
  width: 327px;
  height: 316px;
  margin-top: 450px;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  grid-gap: 5px;
} */

/*
.grid-item-1 {
  display: grid;
  box-sizing: border-box;
  background: #EBF0EE;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  align-items: center;
  margin: 0 auto;

  height: 316px;
  margin-top: 450px;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;

  grid-column-gap: 10px;
}  */

.icon-language {
  position: relative;
  width: 80px;
  height: 80px;
  left: calc(50% - 80px/2 + 0.5px);
  top: calc(50% - 80px/2);
}

#one {
  position: relative;
  width: 80px;
  height: 80px;
  left: calc(50% - 80px/2 + 0.5px);
  top: calc(50% - 80px/2);
  background-image: url('img/icon-languages.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#two {
  position: relative;
  width: 80px;
  height: 80px;
  left: calc(50% - 80px/2 + 0.5px);
  top: calc(50% - 80px/2);
  background-image: url('img/icon-frameworks.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#three {
  position: relative;
  width: 80px;
  height: 80px;
  left: calc(50% - 80px/2 + 0.5px);
  top: calc(50% - 80px/2);
  background-image: url('img/icon-skills.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.image-container-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 5px;
  margin-top: -15px;
}

.image-container-1 li {
  align-items: center;
}

.form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  margin-left: 230px;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  background: #fff;
  box-sizing: border-box;
}

textarea {
  height: 150px;
}

.input-text {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #6b778c;
}

.input-message {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  height: 114px;
  color: #42526e;
}

.union {
  position: relative;
  width: 10.5px;
  height: 10.5px;
  left: 490px;
  top: -30px;
  mix-blend-mode: normal;
}

.email {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-top: -55px;
  color: #42526e;
}

.images-1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  margin-left: -300%;
  margin-top: 700px;
  gap: 19px;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

#four {
  content: "";
  position: relative;
  width: 313.9px;
  height: 448.7px;
  left: 900px;
  top: -280px;
  background-image: url('img/contact\ form-illustratoin-3-desktop.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 3;
}

#five {
  content: "";
  position: relative;
  width: 235.78px;
  height: 261.79px;
  left: -800px;
  top: -200px;
  background-image: url('img/illustration-1-contact-form-desktop.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 3;
}

#six {
  content: "";
  position: relative;
  width: 130.28px;
  height: 105.85px;
  left: -1000px;
  top: -180px;
  background-image: url('img/illustration-2-contact-form-desktop.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 3;
}

@media only screen and (min-width: 375px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 25px;
  }
}
