body {
  background-image: url('img/header-illsutration-mobile.png');
  background-repeat: no-repeat;
}

.text_color{
  color: green;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.header-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  font-size: 24px; 
  margin-top: 16px; 
  font-weight: 600; 
  width: 295px; 
  line-height: 32px; 
  color: #3a4a42; 
  margin-left: 16px; 
  margin-right: 16px;
}

.header-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  font-size: 40px; 
  margin-top: 65px;
  color: #172b4d;
}

.header-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  text-align: center;
  color: #172b4d;
  font-size: 24px; 
  margin-top: 16px; 
  font-weight: 600; 
  width: 337px; 
  line-height: 32px; 
  color: #344563; 
  flex: none; 
  order: 0; 
  flex-grow: 0;
}

.header-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #172b4d;
  font-size: 40px; 
  margin-top: 60px; 
  line-height: 52px;
}

.paragraph {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin-top: -1em;
}

i {
  display: flex;
  align-items: flex-end;
  margin-left: 95%;
}

.images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  margin-right: 5em;
}

.scroll {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll div {
  width: 40px;
  height: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit);
  margin-top: 62px;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
}

.grid-item{
  display: grid;
  background:#EBF0EE;
  border: 1px solid #D0D9D4;
  margin: 0 auto;
  width: 327px;
  height: 474px;
}

.grid-item-top {
  background: #EBF0EE;
  height: 237px;
}

.grid-item-bottom {
  background: white;
  height: 237px;
  
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px;
  margin-top: 29px;
  margin-left: 103px;
  margin-right: 102px;
  margin-bottom: 24px;
  position: relative;
  width: 122px;
  height: 48px;
  background: #36B37F;
  border-radius: 4px;
}

.btn-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px;
  margin-top: 29px;
  margin-left: 103px;
  margin-right: 102px;
  margin-bottom: 24px;
  position: relative;
  height: 48px;
  background: #36B37F;
  border-radius: 4px;
  width: 153px;
}

.btn-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px;
  margin-left: 103px;
  margin-right: 102px;
  margin-bottom: 24px;
  position: relative;
  height: 48px;
  background: #36B37F;
  border-radius: 4px;
  width: 129px; 
  margin-top: -15px;
}

.text {
  height: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: -15px;
}

.image-container li {
  margin: 0;
  padding: 0;
}

.images:hover {
  filter: none;
}

.mask {
  position: absolute;
  width: 68px;
  height: 127px;
  top: 3820px;
  left: 310px;
 
}

.frame {
  position: absolute;
  width: 100px;
  height: 56.99px;
  left: 0px;
  top: 4140px;
}

.grid-item-1 {
  display: grid;
  box-sizing: border-box;
  background: #EBF0EE;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  align-items: center;
  margin: 0 auto;
  width: 327px;
  height: 316px;
}

.icon-language {
  position: relative;
  width: 80px;
  height: 80px;
  left: calc(50% - 80px/2 + 0.5px);
  top: calc(50% - 80px/2);
}

.image-container-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 5px;
  margin-top: -15px;
}
.image-container-1 li {
  align-items: center;
}

.form {
  max-width: 327px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #D0D9D4;;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  background: #ffffff;
  box-sizing: border-box;
}

textarea {
  height: 150px;
}

.input-text {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #6B778C;

}

.input-message {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  height: 114px;
  color: #42526E;
}

.union {
  position: relative;
  width: 10.5px;
  height: 10.5px;
  left: 300px;
  top: -25px;
  mix-blend-mode: normal;
}

.email {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-top: -55px;
  color: #42526E;
}

.images-1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-top: -20px;
  align-items: center;
  list-style-type: none;
  margin-right: 2em;
}

.contact {
  position: relative;
  width: 90.81px;
  height: 130;
  left: 280px;
  top: -220px;
}

@media only screen and (min-width: 375px) {
  body {
    font-size: 16px;
  }


}

@media only screen and (min-width: 768px) {
  body {
    font-size: 25px;
  }
}